body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: white;
    font-family: 'Arial', sans-serif;
}

.button-container {
    margin-top: 40px; 
    display: flex;
    justify-content: center;
    width: 100%;
}

.clock-container {
    text-align: center;
}

.clock {
    width: 200px;
    height: 200px;
    border: 10px solid #fff;
    border-radius: 50%;
    position: relative;
    display: inline-block;
}

.clock-face {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #3c4043;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    z-index: 1; 
}

.clock-time {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    z-index: 2; 
}

.light-on {
    background-color: #fff;
    color: #000;
}

