body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #212833;
    color: rgb(9, 8, 14);
    font-family: 'Arial', sans-serif;
}

.clock-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px; 
}

.clocks-wrapper {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.button-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.button-container-light {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.clock-container {
    text-align: center;
}

.clock {
    width: 200px;
    height: 200px;
    border: 10px solid #fff;
    border-radius: 50%;
    position: relative;
    display: inline-block;
}

.clock-face {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #272c30;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    z-index: 1;
}

.clock-time {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    z-index: 2;
}

.light-on {
    background-color: #fff;
}

.light-on .clock {
    border-color: #ff0000;
}

.light-on .clock-face {
    background-color: #000;
    color: #fff;
}

.light-on .clock-time {
    color: #fff;
}

.light-on .btn-outline-primary {
    color: #000;
    border-color: #ff0000;
}

.light-on .btn-outline-primary:hover {
    background-color: #ff0000;
    color: #000;
}

.btn-outline-primary:focus {
    background-color: #007bff !important; 
    color: #fff !important; 
}

.light-on .btn-outline-primary:focus {
    background-color: #ff0000 !important; 
    color: #000000 !important; 
}
